.center {
  display: flex;
  justify-content: center;

  --border: 16px;
  --size: 64px;
  --speed: 1s;
}

.small {
  --border: 8px;
  --size: 32px;
}

.large {
  --border: 32px;
  --size: 128px;
}

.fast {
  --speed: 0.5s;
}

.slow {
  --speed: 2s;
}

.loading {
  border: var(--border) solid rgba(0, 0, 0, 0.1);
  border-top: var(--border) solid var(--color-orange);
  border-radius: 50%;

  width: var(--size);
  height: var(--size);

  animation: spin var(--speed) linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
