.container {
  display: flex;
  flex-direction: column;
}

.namedGroup {
  border: 1px solid black;
  border-radius: 4px;
}

.title {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-bottom: 1px solid black;
}

.items {
  padding: 0.5rem;
}

.groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.configRows {
  flex-direction: column;
}

.configColumns {
  flex-direction: row;
}
