.container {
  display: flex;
  flex-direction: column;
}

.title {
  border-bottom: 1px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.name {
  font-size: larger;
  padding-right: 2rem;
}

.edit {
  padding-bottom: 1rem;
}

.items:not(:last-child) {
  margin-bottom: 1rem;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.configRows {
  flex-direction: column;
}

.configColumns {
  flex-direction: row;
}
