.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  padding: 0.5rem;
  background-color: lightgray;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;
}

.body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.editButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.newItem {
  width: fit-content;
}
