body {
  height: 100vh;
  // width: 100vw;

  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.uploads {
  display: flex;
  flex-direction: column;
}

.upload {
  display: flex;
  flex-direction: column;

  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid black;
}

.asset {
  * {
    // height: 100vh;
  }
}

img,
video,
audio {
  max-width: 100%;
}
