body {
  display: flex;
  flex-direction: column;
}

img,
video,
audio {
  max-width: 100%;
}

#container {
  display: flex;
  flex-direction: row;
}

.asset-list {
  overflow-y: scroll;
  height: 100vh;
}

.table {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploads {
  display: flex;
  flex-direction: column;
}
