.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-orange);
  padding: 1rem;
  height: var(--header-height);
}

.header a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.title {
  font-size: xx-large;
}

.spaceSelector {
  min-width: 22rem;
}
