.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-orange);
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.header a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.title {
  font-size: xx-large;
  margin-left: 1rem;
}

.spaceSelector {
  min-width: 22rem;
}
