@charset "utf-8";

@use "variables" as var;
@use "bulma" with (
  $primary: var.$orange,
  $link: var.$blue,
);

$orange: #ff7900;
$blue: #08b2e3;

:root {
  --color-orange: #{var.$orange};
  --color-primary: #{var.$orange};
}

#__next {
}
